<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.AdminMapper">
    <select id="findByUsername" resultType="com.mall.entity.Admin">
        SELECT * FROM admin WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.mall.entity.Admin">
        INSERT INTO admin (username, password, phone, create_time)
        VALUES (#{username}, #{password}, #{phone}, #{createTime})
    </insert>
</mapper>
