<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.CategoryMapper">
    <resultMap id="CategoryResultMap" type="com.mall.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="level" column="level"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="findCategoriesByPageAndCondition" resultMap="CategoryResultMap">
        SELECT
        category_id,
        name,
        parent_id,
        level,
        sort,
        status,
        create_time,
        update_time
        FROM
        category
        <where>
            <if test="type != null">
                level = #{type}
            </if>
        </where>
    </select>

    <select id="getTotalCountByCondition" resultType="int">
        SELECT COUNT(*) FROM category
        <where>
            <if test="type != null">
                level = #{type}
            </if>
        </where>
    </select>
    <!-- 查询所有商品分类 -->
    <select id="findAllCategories" resultType="com.mall.entity.Category" resultMap="CategoryResultMap">
        SELECT
            category_id,
            name,
            parent_id,
            level,
            sort,
            status,
            create_time,
            update_time
        FROM
            category
    </select>
<!--    删除-->
    <delete id="deleteCategoryById" parameterType="java.lang.Integer">
        DELETE FROM category WHERE category_id = #{categoryId}
    </delete>
    <!-- 新增分类 -->
    <insert id="insertCategory" parameterType="com.mall.entity.Category">
        INSERT INTO category (name, parent_id, level, sort, status, create_time, update_time)
        VALUES (#{name}, #{parentId}, #{level}, #{sort}, #{status}, NOW(), NOW())
    </insert>
    <update id="updateCategory" parameterType="com.mall.entity.Category">
        UPDATE category
        SET name = #{name},
            parent_id = #{parentId},
            level = #{level},
            sort = #{sort},
            status = #{status},
            update_time = NOW()
        WHERE category_id = #{categoryId}
    </update>
    <select id="getCategoryById" resultMap="CategoryResultMap" parameterType="java.lang.Integer">
        SELECT
            category_id,
            name,
            parent_id,
            level,
            sort,
            status,
            create_time,
            update_time
        FROM
            category
        WHERE
            category_id = #{categoryId}
    </select>
    <select id="getChildrenByParentId" resultMap="CategoryResultMap">
        SELECT * FROM category
        WHERE parent_id = #{parentId}
        AND status = 1 <!-- 只查询启用的分类 -->
    </select>
</mapper>